{% extends 'PilkaNozna/base.html' %}
{% load app_filters %}
{% block title %} Panel główny {% endblock %}
{% block content %}
<br><br>
<table style="width:100%" >
  <tr >
    <td align="center" > <a href="#">
        <button type="button" class="btn btn-primary btn-md"> <h3>Dodaj klub</h3></button></a> </td>
    <td align="center"><a href="#">
        <button type="button" class="btn btn-primary btn-md"> <h3>Zarządzenie klubem</h3></button></a></td>
    <td align="center"><a href="#">
        <button type="button" class="btn btn-primary btn-md"> <h3>Dodaj mecz</h3></button></a></td>
  </tr>

</table><br>
{% endblock %}