{% extends 'PilkaNozna/base.html' %}
{% load app_filters %}


{% block content %}
<h1>{{ lg.nazwa_ligi }}</h1>
<br>


  <table style="width:100%" >
  <tr >
    <td align="center" > <a href="{% url 'tabela' lg.id_ligi %}">
        <button type="button" class="btn btn-primary btn-md"> <h3>Tabela wyników</h3></button></a> </td>
    <td align="center"><a href="{% url 'ranking_st' lg.id_ligi %}">
        <button type="button" class="btn btn-primary btn-md"> <h3>Ranking strzelców</h3></button></a></td>
    <td align="center"><a href="{% url 'kolejki' lg.id_ligi %}">
        <button type="button" class="btn btn-primary btn-md"> <h3>Mecze ligowe</h3></button></a></td>
  </tr>

</table>
<br> <br>
{% if wsk == 0 %}
<table class="table table-hover">
    <thead class="thead-dark">
      <tr class="table-dark text-dark">
        <th>Miejsce</th>
          <th>Klub</th>
          <th>M</th>
        <th>PKT</th>
        <th>Z</th>
        <th>P</th>
        <th>R</th>
          <th>BZ</th>
            <th>BS</th>
      </tr>
    </thead>
    <tbody>
{% for a in kl %}

<tr>
        <td>{{forloop.counter|another_filter:0|custom_filter:abc}}</td>

           <td><a href="{% url 'klub' lg.id_ligi forloop.counter|first_filter:id %}">
               {{forloop.counter|another_filter:1|custom_filter:abc}}</a></td>
        <td>{{forloop.counter|another_filter:2|custom_filter:abc}}</td>
        <td>{{forloop.counter|another_filter:3|custom_filter:abc}}</td>
        <td>{{forloop.counter|another_filter:4|custom_filter:abc}}</td>
        <td>{{forloop.counter|another_filter:5|custom_filter:abc}}</td>
        <td>{{forloop.counter|another_filter:6|custom_filter:abc}}</td>
        <td>{{forloop.counter|another_filter:7|custom_filter:abc}}</td>
        <td>{{forloop.counter|another_filter:8|custom_filter:abc}}</td>

      </tr>

{% endfor %}
</tbody>
  </table>
{%endif%}
{%if wsk == 1%}
<table class="table table-hover">
    <thead class="thead-dark">
      <tr class="table-dark text-dark">
          <th>Miejsce</th>
          <th>Zawodnik</th>
          <th>Klub</th>
          <th>Gole</th>
      </tr>
    </thead>
<tbody>

{%for i in var|ile_razy%}
<tr>
        <td>{{forloop.counter|another_filter:0|custom_filter:abc}}</td>
        <td>{{forloop.counter|another_filter:1|custom_filter:abc}}</td>
        <td>{{forloop.counter|another_filter:2|custom_filter:abc}}</td>
        <td>{{forloop.counter|another_filter:3|custom_filter:abc}}</td>
</tr>

{% endfor %}

    </tbody>
  </table>
{%endif%}
{%if wsk == 2%}
{%for a in range%}
<table class="table table-hover">
    <thead class="thead-dark">



    <tr class="table-dark text-dark">
          <th><h2>Kolejka {{a}}</h2></th>
<tbody>

{%for b in mecze%}
{%if b.kolejka == a%}
<tr class="info">
    <td> <h5 align="right">{{b.data_meczu}}</h5><a data-toggle="modal" data-target="#{{b.id_meczu}}">
           <h4 align="center" style="display:block;">{{forloop.counter|another_filter:0|custom_filter:abc}} : {{forloop.counter|another_filter:1|custom_filter:abc}}
           </h4></a>
        <h4 style="display:inline-block;float:left">
            {{b.id_klubu1.nazwa_klubu}}</h4>


            <h4 style="display:inline-block;float:right">   {{b.id_klubu2.nazwa_klubu}}</h4>

    </td>

</tr>

{%endif%}
{%endfor%}
    </thead>



</table>
    {%endfor%}




{%for a in mecze%}
<div class="modal fade" id={{a.id_meczu}} tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Zamknij</span></button>
        <h4 class="modal-title" id="myModalLabel">{{a}}</h4>
            <h5 class="modal-title" id="myModalLabel">{{a.id_klubu1.id_ligi.nazwa_ligi}}</h5>
      </div>
      <div class="modal-body">

          <h5 align="right">{{a.data_meczu}}</h5>
          <table class="table table-default" height="auto" style="width:100%;table-layout: fixed;text-align:center">
              <tr>
                  <td><h3>{{a.id_klubu1.nazwa_klubu}}</h3></td>
                  <td><h1>{{forloop.counter|another_filter:0|custom_filter:abc}} : {{forloop.counter|another_filter:1|custom_filter:abc}}</h1></td>
                  <td><h3>{{a.id_klubu2.nazwa_klubu}}</h3></td>
              </tr>
               <tr>
                  <td>
                      {%for b in gol%}
                      {%if b.gole != 0 and b.id_meczu.id_meczu == a.id_meczu and b.id_pilkarza.id_klubu.id_klubu == a.id_klubu1.id_klubu%}
                      <h6>{{b.id_pilkarza.imie}} {{b.id_pilkarza.nazwisko}}</h6>
                      {%endif%}
                      {%endfor%}
                  </td>
                  <td><img src="https://ssl.gstatic.com/onebox/sports/soccer_timeline/soccer-ball-retina.png"></td>
                  <td>{%for b in gol%}
                      {%if b.gole != 0 and b.id_meczu.id_meczu == a.id_meczu and b.id_pilkarza.id_klubu.id_klubu == a.id_klubu2.id_klubu%}
                      <h6>{{b.id_pilkarza.imie}} {{b.id_pilkarza.nazwisko}}</h6>
                      {%endif%}
                      {%endfor%}</td>
              </tr>

                <tr>
                  <td>
                      {%for b in statystyki%}
                      {%if b.zolta != 0 and b.id_meczu.id_meczu == a.id_meczu and b.id_pilkarza.id_klubu.id_klubu == a.id_klubu1.id_klubu%}
                      <h6>{{b.id_pilkarza.imie}} {{b.id_pilkarza.nazwisko}}</h6>
                      {%if b.zolta == 2%}
                                            <h6>{{b.id_pilkarza.imie}} {{b.id_pilkarza.nazwisko}}</h6>
                        {%endif%}
                      {%endif%}
                      {%endfor%}
                  </td>
                    <td><center><div style="background-color:yellow;height:35px;width:25px;margin-top:8px"></div></center></td>
                  <td>
                      {%for b in statystyki%}
                      {%if b.zolta != 0 and b.id_meczu.id_meczu == a.id_meczu and b.id_pilkarza.id_klubu.id_klubu == a.id_klubu2.id_klubu%}
                      <h6>{{b.id_pilkarza.imie}} {{b.id_pilkarza.nazwisko}}</h6>
                      {%if b.zolta == 2%}
                                            <h6>{{b.id_pilkarza.imie}} {{b.id_pilkarza.nazwisko}}</h6>
                        {%endif%}
                      {%endif%}
                      {%endfor%}
                  </td>
              </tr>

              <tr>
                  <td>
                      {%for b in statystyki%}
                      {%if b.czerwona != 0 and b.id_meczu.id_meczu == a.id_meczu and b.id_pilkarza.id_klubu.id_klubu == a.id_klubu1.id_klubu%}
                      <h6>{{b.id_pilkarza.imie}} {{b.id_pilkarza.nazwisko}}</h6>

                      {%endif%}
                      {%endfor%}
                  </td>
                    <td><center><div style="background-color:red;height:35px;width:25px;margin-top:8px"></div></center></td>
                  <td>
                      {%for b in statystyki%}
                      {%if b.czerwona != 0 and b.id_meczu.id_meczu == a.id_meczu and b.id_pilkarza.id_klubu.id_klubu == a.id_klubu2.id_klubu%}
                      <h6>{{b.id_pilkarza.imie}} {{b.id_pilkarza.nazwisko}}</h6>

                      {%endif%}
                      {%endfor%}
                  </td>
              </tr>

              <tr>
                 <td>
                      {%for b in statystyki%}
                      {%if b.asysty != 0 and b.id_meczu.id_meczu == a.id_meczu and b.id_pilkarza.id_klubu.id_klubu == a.id_klubu1.id_klubu%}
                      <h6>{{b.id_pilkarza.imie}} {{b.id_pilkarza.nazwisko}}
                         {%if b.asysty > 1%}
                                            x {{b.asysty}}
                        {%endif%}
                      </h6>
                          {%endif%}
                      {%endfor%}
                  </td>

                  <td><center><h3>Asysty</h3></center></td>
                  <td>
                      {%for b in statystyki%}
                      {%if b.asysty != 0 and b.id_meczu.id_meczu == a.id_meczu and b.id_pilkarza.id_klubu.id_klubu == a.id_klubu2.id_klubu%}
                      <h6>{{b.id_pilkarza.imie}} {{b.id_pilkarza.nazwisko}}
                         {%if b.asysty > 1%}
                          x{{b.asysty}}
                        {%endif%}
                      </h6>
                          {%endif%}
                      {%endfor%}
                  </td>




              </tr>

    <tr>
        <td colspan="3"><h3>Faule</h3></td>
    </tr>
     <tr><td>
                   <table class="table table-default" height="auto" style="width:100%;table-layout: fixed;text-align:center">

         {%for b in statystyki%}
              {%if b.id_meczu.id_meczu == a.id_meczu and b.id_pilkarza.id_klubu.id_klubu == a.id_klubu1.id_klubu%}

              <tr>
                  <td><h6>{{b.id_pilkarza.imie}} {{b.id_pilkarza.nazwisko}}</h6></td>


             </tr>

{%endif%}
              {%endfor%}

                   </table>
     </td>
     <td></td>
     <td>
            <table class="table table-default" height="auto" style="width:100%;table-layout: fixed;text-align:center">

         {%for b in statystyki%}
              {%if b.id_meczu.id_meczu == a.id_meczu and b.id_pilkarza.id_klubu.id_klubu == a.id_klubu2.id_klubu%}

              <tr>
                  <td><h6>{{b.id_pilkarza.imie}} {{b.id_pilkarza.nazwisko}}</h6></td>


             </tr>

{%endif%}
              {%endfor%}

                   </table>



     </td>
     </tr></table>






      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>
{%endfor%}



{%endif%}
{% endblock %}