{% extends 'PilkaNozna/base.html' %}
{% load app_filters %}
{% block content %}
<h4>Witamy w miejscu, gdzie każdy fan piłki nożnej znajdzie coś dla siebie! Nieważne,
czy jesteś niedzielnym fanem, czy też zagorzałym -
wszystkie informacje są w zasiegu Twojej ręki.
</h4>
<div class="ligi">
  <table class="table table-hover">
  <center>
    <thead>
      <tr>
        <th><center>Spis lig</center></th>
      </tr>
    </thead>
    <tbody>
    {% for l in ligi %}
      <tr>
        <td>
          <center>
            <a href = "{% url 'liga' l.id_ligi%}">
            {{forloop.counter0|another_filter:1|custom_filter:abc}}
            </a>
          </center>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </center>
  </table>

</div>
{% endblock %}