{% extends 'PilkaNozna/base.html' %}
{% load app_filters %}
{% block content %}
<center><h1>Statystyki klubu: {{a.nazwa_klubu}}</h1></center>
<div id = "ogolne_statystyki">
    <table class = "table table-hover">
        <thead class="thead-dark">
        <div class="col-sm-8" style="background-color:lavender; height: 20px">Dana statystyka</div>
        <div class="col-sm-4" style="background-color:lavenderblush;">Wartość liczbowa</div>
        </thead>
        <tbody>
            <tr class = "table-dark text-dark">
                <th>Liczba punktów</th>
                {% for a in kl %}
                    <td>
                        {{forloop.counter0|another_filter:3|custom_filter:abc}}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                    <th>Zwycięstwa</th>
                    {% for a in kl %}
                        <td>
                            {{forloop.counter0|another_filter:4|custom_filter:abc}}
                        </td>
                    {% endfor %}
            </tr>
            <tr class = "table-dark text-dark">
                    <th>Porażki</th>
                    {% for a in kl %}
                        <td>
                            {{forloop.counter0|another_filter:5|custom_filter:abc}}
                        </td>
                    {% endfor %}
            </tr>
            <tr class = "table-dark text-dark">
                    <th>Remisy</th>
                    {% for a in kl %}
                        <td>
                            {{forloop.counter0|another_filter:6|custom_filter:abc}}
                        </td>
                    {% endfor %}
            </tr>
            <tr class = "table-dark text-dark">
                    <th>Bramki zdobyte</th>
                    {% for a in kl %}
                        <td>
                            {{forloop.counter0|another_filter:7|custom_filter:abc}}
                        </td>
                    {% endfor %}
            </tr>
            <tr class = "table-dark text-dark">
                    <th>Bramki stracone</th>
                    {% for a in kl %}
                        <td>
                            {{forloop.counter0|another_filter:8|custom_filter:abc}}
                        </td>
                    {% endfor %}
            </tr>
            <tr class = "table-dark text-dark">
                    <th>Faule</th>
                    {% for a in kl %}
                        <td>
                            {{forloop.counter0|another_filter:10|custom_filter:abc}}
                        </td>
                    {% endfor %}
            </tr>
            <tr class = "table-dark text-dark">
                    <th>Żółte kartki</th>
                    {% for a in kl %}
                        <td>
                            {{forloop.counter0|another_filter:11|custom_filter:abc}}
                        </td>
                    {% endfor %}
            </tr>
            <tr class = "table-dark text-dark">
                    <th>Czerwone kartki</th>
                    {% for a in kl %}
                        <td>
                            {{forloop.counter0|another_filter:12|custom_filter:abc}}
                        </td>
                    {% endfor %}
            </tr>
        </tbody>
    </table>



</div>
<div class = "lista_zawodnikow">
    <h2><center> Lista zawodników </center></h2>
    <br>
    <center><a href = "{% url 'pdf' lg.id_ligi a.id_klubu %}">Pobierz listę zawodników w formacie PDF.</a></center>
    <br>
    <div id = "accordion">
        <div class = "card">
            <a class="collapsed card-link" data-toggle="collapse" href="#Bramkarze">
            <div class="card-header" style="background-color: lavender; text-align:center; height:50px ">
            Bramkarze
            </div>
            </a>
      </div>
        <div id = "Bramkarze" class = "collapse">
            <div class = "card-body">
                {% if not pilkarz %}
                <h4>Brak bramkarzy</h4>
                {% else %}
                <table class="table table-hover">
                    <thead class="thead-dark">
                  <tr class="table-dark text-dark">
                    <th>Imię i nazwisko</th>
                    <th>Wiek</th>
                    <th>Ilość zagranych meczy</th>
                    <th>Gole</th>
                    <th>Asysty</th>
                    <th>Faule</th>
                    <th>LŻ</th>
                    <th>LC</th>
                  </tr>
                </thead>
                <tbody>

            {% for p in pilkarz %}
            {% if p.id_pozycji.nazwa_pozycji == "Bramkarz" %}
            <tr>
                    <td>{{forloop.counter0|another_filter:1|custom_filter:pilkarz_staty}}</td>
                    <td>{{forloop.counter0|another_filter:2|custom_filter:pilkarz_staty}}</td>
                    <td>{{forloop.counter0|another_filter:3|custom_filter:pilkarz_staty}}</td>
                    <td>{{forloop.counter0|another_filter:4|custom_filter:pilkarz_staty}}</td>
                    <td>{{forloop.counter0|another_filter:5|custom_filter:pilkarz_staty}}</td>
                    <td>{{forloop.counter0|another_filter:6|custom_filter:pilkarz_staty}}</td>
                    <td>{{forloop.counter0|another_filter:7|custom_filter:pilkarz_staty}}</td>
                    <td>{{forloop.counter0|another_filter:8|custom_filter:pilkarz_staty}}</td>
            </tr>
            {% endif %}
            {% endfor %}
              </tbody>
              </table>
                        {% endif %}
            </div>
                </table>
        </div>

       </div>
            <div class = "card">
             <a class="collapsed card-link" data-toggle="collapse" href="#Obroncy">
                <div class="card-header"  style="background-color: lavenderblush; text-align:center; height:50px ">
                 Obrońcy
                </div>
             </a>
      </div>
        <div id = "Obroncy" class = "collapse">
            <div class = "card-body">
                {% if not pilkarz %}
                <h4>Brak obrońców</h4>
                {% else %}
                <table class="table table-hover">
                    <thead class="thead-dark">
                  <tr class="table-dark text-dark">
                    <th>Imie i nazwisko</th>
                    <th>Wiek</th>
                    <th>Ilość zagranych meczy</th>
                    <th>Gole</th>
                    <th>Asysty</th>
                    <th>Faule</th>
                    <th>LŻ</th>
                    <th>LC</th>
                  </tr>
                </thead>
                <tbody>

            {% for p in pilkarz %}
            {% if p.id_pozycji.nazwa_pozycji == "Obrońca" %}
            <tr>
                    <td>{{forloop.counter0|another_filter:1|custom_filter:pilkarz_staty}}</td>
                    <td>{{forloop.counter0|another_filter:2|custom_filter:pilkarz_staty}}</td>
                    <td>{{forloop.counter0|another_filter:3|custom_filter:pilkarz_staty}}</td>
                    <td>{{forloop.counter0|another_filter:4|custom_filter:pilkarz_staty}}</td>
                    <td>{{forloop.counter0|another_filter:5|custom_filter:pilkarz_staty}}</td>
                    <td>{{forloop.counter0|another_filter:6|custom_filter:pilkarz_staty}}</td>
                    <td>{{forloop.counter0|another_filter:7|custom_filter:pilkarz_staty}}</td>
                    <td>{{forloop.counter0|another_filter:8|custom_filter:pilkarz_staty}}</td>
            </tr>
            {% endif %}
            {% endfor %}
              </tbody>
              </table>
                {% endif %}
            </div>
                </table>
        </div>
       </div>
        <div class = "card">
            <a class="collapsed card-link" data-toggle="collapse" href="#Pomocnicy">
                <div class="card-header"  style="background-color: lavender; text-align:center; height:50px ">
                Pomocnicy
                </div>
            </a>
      </div>
        <div id = "Pomocnicy" class = "collapse">
            <div class = "card-body">
                {% if not pilkarz %}
                <h4>Brak pomocników</h4>
                {% else %}
                <table class="table table-hover">
                <thead class="thead-dark">
                  <tr class="table-dark text-dark">
                    <th>Imie i nazwisko</th>
                     <th>Wiek</th>
                      <th>Ilość zagranych meczy</th>
                     <th>Gole</th>
                     <th>Asysty</th>
                    <th>Faule</th>
                    <th>LŻ</th>
                    <th>LC</th>
                  </tr>
                </thead>
                <tbody>

            {% for p in pilkarz %}
            {% if p.id_pozycji.nazwa_pozycji == "Pomocnik" %}
            <tr>
                    <td>{{forloop.counter0|another_filter:1|custom_filter:pilkarz_staty}}</td>
                    <td>{{forloop.counter0|another_filter:2|custom_filter:pilkarz_staty}}</td>
                    <td>{{forloop.counter0|another_filter:3|custom_filter:pilkarz_staty}}</td>
                    <td>{{forloop.counter0|another_filter:4|custom_filter:pilkarz_staty}}</td>
                    <td>{{forloop.counter0|another_filter:5|custom_filter:pilkarz_staty}}</td>
                    <td>{{forloop.counter0|another_filter:6|custom_filter:pilkarz_staty}}</td>
                    <td>{{forloop.counter0|another_filter:7|custom_filter:pilkarz_staty}}</td>
                    <td>{{forloop.counter0|another_filter:8|custom_filter:pilkarz_staty}}</td>
            </tr>
            {% endif %}
            {% endfor %}
              </tbody>
              </table>
                {% endif %}
            </div>
        </div>
        <div class = "card">
            <a class="card-link" data-toggle="collapse" href="#Napastnicy">
            <div class="collapsed card-header"  style="background-color: lavenderblush; text-align:center; height:50px ">
             Napastnicy
            </div>
            </a>
        </div>
        <div id = "Napastnicy" class = "collapse">
            <div class = "card-body">
                {% if not pilkarz %}
                <h4>Brak napastników</h4>
                {% else %}
                <table class="table table-hover">
                <thead class="thead-dark">
                  <tr class="table-dark text-dark">
                    <th>Imie i nazwisko</th>
                     <th>Wiek</th>
                      <th>Ilość zagranych meczy</th>
                     <th>Gole</th>
                     <th>Asysty</th>
                    <th>Faule</th>
                    <th>LŻ</th>
                    <th>LC</th>
                  </tr>
                </thead>
                <tbody>

            {% for p in pilkarz %}
            {% if p.id_pozycji.nazwa_pozycji == "Napastnik" %}
            <tr>
                    <td>{{forloop.counter0|another_filter:1|custom_filter:pilkarz_staty}}</td>
                    <td>{{forloop.counter0|another_filter:2|custom_filter:pilkarz_staty}}</td>
                    <td>{{forloop.counter0|another_filter:3|custom_filter:pilkarz_staty}}</td>
                    <td>{{forloop.counter0|another_filter:4|custom_filter:pilkarz_staty}}</td>
                    <td>{{forloop.counter0|another_filter:5|custom_filter:pilkarz_staty}}</td>
                    <td>{{forloop.counter0|another_filter:6|custom_filter:pilkarz_staty}}</td>
                    <td>{{forloop.counter0|another_filter:7|custom_filter:pilkarz_staty}}</td>
                    <td>{{forloop.counter0|another_filter:8|custom_filter:pilkarz_staty}}</td>
            </tr>
            {% endif %}
            {% endfor %}
              </tbody>
              </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}