{% extends 'PilkaNozna/base.html' %}
{% load app_filters %}
{% block content %}
<center><h1>{{kl.nazwa_klubu}}</h1></center>
<br>
<br>
<div id = "{{kl.nazwa_klubu}}">
<table class="table table-hover">
    <thead class="thead-dark">
      <tr class="table-dark text-dark">
        <th>Miejsce</th>
          <th>Klub</th>
          <th>M</th>
        <th>PKT</th>
        <th>Z</th>
        <th>P</th>
        <th>R</th>
          <th>BZ</th>
            <th>BS</th>
      </tr>
    </thead>
    <tbody>
{% for a in kl %}

<tr>
    <td>{{forloop.counter0|another_filter:0|custom_filter:abc}}</td>
    <td>{{forloop.counter0|another_filter:1|custom_filter:abc}}</td>
    <td>{{forloop.counter0|another_filter:2|custom_filter:abc}}</td>
        <td>{{forloop.counter0|another_filter:3|custom_filter:abc}}</td>
        <td>{{forloop.counter0|another_filter:4|custom_filter:abc}}</td>
        <td>{{forloop.counter0|another_filter:5|custom_filter:abc}}</td>
        <td>{{forloop.counter0|another_filter:6|custom_filter:abc}}</td>
        <td>{{forloop.counter0|another_filter:7|custom_filter:abc}}</td>
        <td>{{forloop.counter0|another_filter:8|custom_filter:abc}}</td>

      </tr>

{% endfor %}
</tbody>
  </table>

</div>

<div>
OGÓLNE STATYSTYKI POSZCZEGÓLNYCH PIŁKARZY WZÓR
<center>IMIE I NAZWISKO PILKARZA</center>
GOLE, ASYSYTY, FAULE, KARTKI ZOLTE, KARTKI CZERWONE



</div>




{% endblock %}