{% extends 'PilkaNozna/base.html' %}
{% load app_filters %}
{% block title %} Panel główny {% endblock %}
{% block content %}
<br><br>
<div>
    {% if messages %}
    <ul class = "messages">
        {% for message in messages %}
            <li class = "{{ message.tags }}">
                {{message|safe}}
                <a href = "#" class = "close"></a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<table style="width:100%" >
  <tr >
     <td align="center" > <a href="{% url 'dodaj_klub' %}">
        <button type="button" class="btn btn-primary btn-md"> <h3>Dodaj klub</h3></button></a> </td>
     <td align="center"><a href="{% url 'dodaj_mecz' %}">
        <button type="button" class="btn btn-primary btn-md"> <h3>Dodaj mecz</h3></button></a></td>
     <td align="center"><a href="{% url 'dodaj_statystyki'%}">
        <button type="button" class="btn btn-primary btn-md"> <h3>Dodaj statystyki gracza</h3></button></a></td>
     <td align="center"><a href="{% url 'dodaj_pilkarza'%}">
        <button type="button" class="btn btn-primary btn-md"> <h3>Dodaj zawodnika do klubu</h3></button></a></td>
      <td align="center"><a href="{% url 'dodaj_lige'%}">
        <button type="button" class="btn btn-primary btn-md"> <h3>Dodaj ligę</h3></button></a></td>
  </tr>

</table><br>
{% if wsk == 1 %}
{% if request.user.is_authenticated %}
<h1>Formularz dodawania klubu</h1>
{% if form.errors %}
<p>Błędne dane.</p>
{% endif %}
<div class = "klub-form">
    <form action = "{% url 'dodaj_klub'%}" method="post">
    {{ form.as_p }}
    {% csrf_token %}
        <p>
            <input type="submit" value="Dodaj klub">
        </p>
    </form>
</div>
{% endif %}
{% endif %}

{% if wsk == 2 %}
{% if request.user.is_authenticated %}
<h1>Formularz dodawania meczu</h1>
{% if form.errors %}
<p>Błędne dane.</p>
{% endif %}
<div class = "mecz-form">
    <form action = "{% url 'dodaj_mecz'%}" method="post">
    {{ form.as_p }}
    {% csrf_token %}
        <p>
            <input type="submit" value="Dodaj mecz">
        </p>
    </form>
</div>
{% endif %}
{% endif %}
{% if wsk == 3 %}
{% if request.user.is_authenticated %}
<h1>Formularz dodawania statystyk graczy</h1>
{% if form.errors %}
<p>Błędne dane.</p>
{% endif %}
<div class = "statystyki-form">
    <form action = "{% url 'dodaj_statystyki'%}" method="post">
    {{ form.as_p }}
    {% csrf_token %}
        <p>
            <input type="submit" value="Dodaj statystyki">
        </p>
    </form>
</div>
{% endif %}

{% endif %}

{% if wsk == 4 %}
{% if request.user.is_authenticated %}
<h1>Formularz dodawania piłkarzy</h1>
{% if form.errors %}
<p>Błędne dane.</p>
{% endif %}
<div class = "pilkarz-form">
    <form action = "{% url 'dodaj_pilkarza'%}" method="post">
    {{ form.as_p }}
    {% csrf_token %}
        <p>
            <input type="submit" value="Dodaj piłkarza">
        </p>
    </form>
</div>
{% endif %}
{% endif %}

{% if wsk == 5 %}
{% if request.user.is_authenticated %}
<h1>Formularz dodawania ligi.</h1>
{% if form.errors %}
<p>Błędne dane.</p>
{% endif %}
<div class = "liga-form">
    <form action = "{% url 'dodaj_lige'%}" method="post">
    {{ form.as_p }}
    {% csrf_token %}
        <p>
            <input type="submit" value="Dodaj ligę">
        </p>
    </form>
</div>
{% endif %}
{% endif %}
{% endblock %}